* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    box-sizing: border-box;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 2em;
    column-gap: 2em;
}

article > * {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav {
    padding-right: 0.5em;
    height: 8vh;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 0.5em;
}

#logo {
    position: absolute;
    left: 0;
}

nav > a:hover {
    border-bottom: 2px solid lightseagreen;
}

header {
    height: 90vh;
    padding-top: 0.5em;
    text-align: center;
    width: 100%;
    font-weight: 300;
    font-size: 3em;
}

header > h1 {
    width: 100%
}

header img {
    border-radius: 100%;
}

header p {
    width: 100%;
    font-size: 30px;
    font-weight: 200;
}

section {
    text-align: center;
    padding-top: 1rem;
    height: 60vh;
}

section img {
    border: 10px  groove black;
    padding: 1em;
}

.hobby {
    width: 100%;
}

.hobby h2  {
    font-weight: 400;
}

#travel_header {
    height: 15vh;
}

.blog_list {
    flex: 35%;
    height: 40vh;
    margin: 1rem;
    border: 2px  solid black;
}

.blog_list img {
    padding: 5px;
    border: 1px solid black;
    border-radius: 50%;
    margin-bottom: 1em;
}

.blog_list a {
    color: black;
    text-decoration: none;
}

.blog_list p {
    padding-bottom: 1em;
}

footer {
    height: 10vh;
    justify-content: space-between;
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
}

#GIT {
    flex: 70%; 
    text-align: center;
    font-weight: 400;
}

#copyright {
    flex: 15%;
}

.footer_links {
    flex: 5%;
}

@media only screen and (min-width: 600px) and (max-width: 849px) {
    section {
        text-align: right;
        height: 30vh;
        margin: 2em;
    }
     section img {
        flex: 15%;
        margin: 2em;
    }
    
    .hobby {
        flex: 50%;
        padding: 2em
    }

    .hobby h2 {
        padding-bottom: 1em;
    }

    #travel_header {
        height: 10vh;
    }

    .blog_list {
        flex: 20%;
        height: 40vh;
        margin: 1rem;
        border: 2px  solid black;
        text-align: center;
    }

}

@media only screen and (min-width: 850px) and (max-width:1049px){
    section {
        text-align: right;
        height: 30vh;
        margin: 3em;
    }
     section img {
        flex: 10%;
        margin: 2em;
    }
    
    .hobby {
        flex: 60%;
        padding: 3em
    }

    .hobby h2 {
        padding-bottom: 1em;
    }

    #travel_header {
        height: 5vh;
    }

    .blog_list {
        flex: 15%;
        height: 40vh;
        border: 2px  solid black;
        text-align: center;
        margin: 2.5em;
    }

}

@media only screen and (min-width: 1050px) and (max-width: 1299px) {
    header p {
        padding-left:3em;
        padding-right: 3em;
    }
    
    section {
        text-align: right;
        height: 30vh;
        margin: 4em;
    }
     section img {
        flex: 5%;
        margin: 5em;
    }
    
    .hobby {
        flex: 60%;
        padding: 8em
    }

    .hobby h2 {
        padding-bottom: 1em;
    }

    #travel_header {
        height: 5vh;
        padding-top: 2em;
    }

    .blog_list {
        flex: 20%;
        height: 50vh;
        border: 2px  solid black;
        text-align: center;
        margin-left: 2em;
        margin-right: 2em;
    }

}

@media only screen and (min-width: 1300px) {
    header p {
        padding-left:5em;
        padding-right: 5em;
    }
    
    section {
        text-align: right;
        height: 30vh;
        margin: 7em;
        margin-top:2em;
    }
     section img {
        flex: 5%;
        margin: 7em;
    }
    
    .hobby {
        flex: 60%;
        padding: 8em
    }

    .hobby h2 {
        padding-bottom: 1em;
    }

    #travel_header {
        height: 5vh;
        padding-top: 2em;
    }

    .blog_list {
        flex: 20%;
        height: 60vh;
        border: 2px  solid black;
        text-align: center;
        margin-left: 3.5em;
        margin-right: 3.5em;
    }

}