* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.topnav {
    background-color: white;
    height: 7vh;
    width: 100%;
}

nav > a {
    background-color: white;
    text-decoration: none;
    color: black;
}

.my_links {
    
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
    height: 20vh;
}

footer {
    height: 5vh;
    text-align: center;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.footer_links {
    flex: 0.1;
}
