
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
/* Navigation bar Styling */
nav {
    background-color: white;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1em;
}

nav > a {
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 0.5em;
}

nav > a:hover {
    border-bottom: 2px solid lightseagreen;
}

#logo {
    position: absolute;
    left: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    text-align: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
    height: 10vh;
}

h1 {
    padding: 0.5em;
    font-weight: 300;
    font-size: 5em;
}

.proffesional_links {
    margin: 0.3em;
}

footer {
    height: 10vh;
    margin-top: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer_links {
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.5em;
}

.footer_copyright {
    padding: 1.2em;
    text-align: center;
}

.footer_links:hover {
    color: #20b2aa;
  }
  
  .footer_links:hover i {
    color: lightseagreen;
  }



