
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

nav {
    background-color: white;
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2em;
}

#logo {
    height:100%

}

nav > a {
    background-color: white;
    text-decoration: none;
    color: black;
}

.my_links {
    
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
    height: 10vh;
}

h1 {
    padding: 2em;
}

footer {
    height: 10vh;
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding-left: 1em;
    padding: 1em;
}

footer p {
    flex: 10%;
}

