article {
    display: flex;
    flex-wrap: wrap;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

article > * {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1em;
}


nav {
    padding-right: 0.5em;
    height: 8vh;
    justify-content: flex-end;
    background-color: white;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 0.5em;
}

#logo {
    position: absolute;
    left: 0;
}

nav > a:hover {
    background-color: lightseagreen;
    padding: 10px;
    color: rgb(0, 0, 0);
    border-radius: 100%;
}

header {
    height: 10vh;
    padding-top: 3em;
    padding-bottom: 8em;
    text-align: center;
}

header h1 {
    width: 100%;
    font-weight: 300;
    font-size: 3em;
}

header a {
    text-decoration: none;
    color: black;
    padding-right: 1em;
}

section {
    height: 40vh;
    border-bottom: 2px solid black;
    row-gap: 1.5em;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    margin-left: 2em;
    margin-right: 2em;
}
section h1 {
    width: 100%;
    font-weight: 600;
    font-size: 3em;
}

.description {
    width: 100%;
}

.description h2 {
    font-weight: 300;
}

header h2 {
    font-weight: 300;
    font-size: 3em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

footer {
    height: 10vh;
    justify-content: space-between;
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
}

#GIT {
    flex: 70%; 
    text-align: center;
    font-weight: 400;
}

#copyright {
    flex: 15%;
}

.footer_links {
    flex: 5%;
}

@media only screen and (min-width: 500px) and (max-width: 749px) {
    section h1 {
        flex: 30%
    }
    .description {
        flex: 50%;
    }
    section h1 {
        font-size: 4em;
    }
}


@media only screen and (min-width: 750px) and (max-width: 999px) {
    section h1 {
        flex: 30%
    }
    .description {
        flex: 50%;
    }
    section h1 {
        font-size: 5em;
    }
    section {
        padding: 4em;
    }

}

@media only screen and (min-width: 1000px) {
    section h1 {
        flex: 30%
    }
    .description {
        flex: 50%;
        font-size: larger;
    }
    .description  p {
        margin-right: 8em;
    }
    section h1 {
        font-size: 6em;
        text-align: center;
    }
    section {
        margin: 4em;
        height: 20vh;
    }
    }

}
